# **Preprocessing | Universitas Internasional Semen Indonesia (UISI)**

# Text Preprocessing (Clean Data)

In [1]:
import pandas as pd
import string
import re
df = pd.read_csv('../../dataset/UISI_reviews.csv')

output_path = '../../dataset/cleaned-data/UISI_Reviews_cleaned.csv'

df.head()

,page,name,link,thumbnail,rating,date,snippet,images,local_guide
0,1,Firdaus Agil Prasetyo,https://www.google.com/maps/contrib/1114238106...,https://lh3.googleusercontent.com/a-/ALV-UjWYy...,5.0,2 tahun lalu,Dari luar tampak seperti rumah hantu. Tapi lih...,['https://lh5.googleusercontent.com/p/AF1QipNj...,True
1,1,Miftah NG,https://www.google.com/maps/contrib/1127338953...,https://lh3.googleusercontent.com/a-/ALV-UjXiM...,5.0,5 tahun lalu,"Unik. Kampus ""heritage"" pertama yang pernah sa...",['https://lh5.googleusercontent.com/p/AF1QipOw...,True
2,1,Hafiz Nafi'uddin,https://www.google.com/maps/contrib/1069934634...,https://lh3.googleusercontent.com/a-/ALV-UjWTC...,3.0,setahun lalu,"Universitasnya sangat bagus, tapi lebih diperh...",NaN,True
3,1,Chandra Bintang,https://www.google.com/maps/contrib/1180606762...,https://lh3.googleusercontent.com/a/ACg8ocKeJe...,1.0,7 bulan lalu,"Hati-hati dengan dosen gadungan yang bernama ""...",NaN,True
4,1,Wandy Bear,https://www.google.com/maps/contrib/1006073327...,https://lh3.googleusercontent.com/a-/ALV-UjVt8...,3.0,setahun lalu,"Sementara 3 bintang dulu ya min.\nMin, calon m...",NaN,True

In [2]:
# drop the columns
df = df.drop(columns=['page', 'link', 'thumbnail', 'date', 'images', 'local_guide'], axis=1)
df.head()

,name,rating,snippet
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m..."

## Convert to lowercase

In [3]:
df['temp_text'] = df['snippet'].str.lower()
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,dari luar tampak seperti rumah hantu. tapi lih...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...","unik. kampus ""heritage"" pertama yang pernah sa..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...","universitasnya sangat bagus, tapi lebih diperh..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...","hati-hati dengan dosen gadungan yang bernama ""..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...","sementara 3 bintang dulu ya min.\nmin, calon m..."

## Remove Missings Values

In [4]:
df.isnull().sum()

name           0
rating         0
snippet      139
temp_text    139
dtype: int64

In [5]:
df = df.dropna(subset=['temp_text'])
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,dari luar tampak seperti rumah hantu. tapi lih...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...","unik. kampus ""heritage"" pertama yang pernah sa..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...","universitasnya sangat bagus, tapi lebih diperh..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...","hati-hati dengan dosen gadungan yang bernama ""..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...","sementara 3 bintang dulu ya min.\nmin, calon m..."

In [6]:
df.isnull().sum()

name         0
rating       0
snippet      0
temp_text    0
dtype: int64

## Menghapus Whitespace

In [7]:
def remove_extra_whitespace(text):
    # Menghapus spasi di awal dan akhir teks
    text = text.strip()
    # Menghapus spasi berlebih di tengah teks
    text = re.sub('\s+', ' ', text)
    return text

# Menerapkan fungsi pada kolom 'temp_text'
df['temp_text'] = df['temp_text'].apply(lambda x: remove_extra_whitespace(x))
df.head()

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\hp\AppData\Local\Temp\ipykernel_6784\400237288.py:5: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('\s+', ' ', text)

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,dari luar tampak seperti rumah hantu. tapi lih...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...","unik. kampus ""heritage"" pertama yang pernah sa..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...","universitasnya sangat bagus, tapi lebih diperh..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...","hati-hati dengan dosen gadungan yang bernama ""..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...","sementara 3 bintang dulu ya min. min, calon ma..."

## Removal of Punctuations

In [8]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('', '', punctuations))

In [10]:
df['temp_text'] = df['temp_text'].apply(lambda x: remove_punctuations(x))
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,dari luar tampak seperti rumah hantu tapi liha...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage pertama yang pernah saya ...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya sangat bagus tapi lebih diperha...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dengan dosen gadungan yang bernama ok...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",sementara 3 bintang dulu ya min min calon maha...

## Normalisasi Teks

In [11]:
# Kamus slang dan kata yang sudah dinormalisasi
slang_dict = {
    "gak": "tidak",
    "u": "you",
    "yg": "yang",
    "kalo": "kalau",
    "aja": "saja",
    "tdk": "tidak",
    "bgt": "banget",
    "dgn": "dengan",
    "dr": "dari",
    "dlm": "dalam",
    "sbg": "sebagai",
    "spt": "seperti",
    "utk": "untuk",
    "krn": "karena",
    "tp": "tapi",
    "jd": "jadi",
    "sy": "saya",
    "dg": "dengan",
    "trs": "terus",
    "sm": "sama",
    "pd": "pada",
    "blm": "belum",
    "sdh": "sudah",
    "td": "tadi",
    "lg": "lagi",
    "gmn": "gimana",
    "knp": "kenapa",
    "dpt": "dapat",
    "bbrp": "beberapa",
    "dl": "dulu",
    "kl": "kalau",
    "tmn": "teman",
    "msh": "masih",
    "syg": "sayang",
    "cm": "cuma",
    "bs": "bisa",
    "jg": "juga",
    "org": "orang",
    "bkn": "bukan",
    "bbrp": "beberapa",
    "dpt": "dapat",
    "dgn": "dengan",
    "dr": "dari",
    "gmn": "gimana",
    "hrs": "harus",
    "jgn": "jangan",
    "krn": "karena",
    "lg": "lagi",
    "pd": "pada",
    "sdh": "sudah",
    "sm": "sama",
    "tdk": "tidak",
    "tp": "tapi",
    "utk": "untuk",
    "yg": "yang"
}

# Fungsi untuk mengganti kata slang dengan kata yang sudah dinormalisasi
def normalize_text(text):
    words = text.split()
    normalized_words = [slang_dict.get(word, word) for word in words]
    return " ".join(normalized_words)

# Menerapkan normalisasi pada kolom temp_text
df['temp_text'] = df['temp_text'].apply(lambda x: normalize_text(x))
df.head(10)

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,dari luar tampak seperti rumah hantu tapi liha...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage pertama yang pernah saya ...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya sangat bagus tapi lebih diperha...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dengan dosen gadungan yang bernama ok...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",sementara 3 bintang dulu ya min min calon maha...
5,Fajar Rifat,2.0,Jalan masuk untuk motor ke kampus B paving nya...,jalan masuk untuk motor ke kampus b paving nya...
6,Justin Hubner,1.0,"Dapat Orderan Go Ride Atas Nama ""Amelia S"" pad...",dapat orderan go ride atas nama amelia s pada ...
7,MiawLegenD_,1.0,Kekurangan yang ada :\n1. Parkiran\nGa ada par...,kekurangan yang ada 1 parkiran ga ada parkiran...
8,thandmustedi Pur,1.0,1. Syarat pendaftaran kurang terperinci dan si...,1 syarat pendaftaran kurang terperinci dan sis...
9,Nurtoha Mr,4.0,"Lokasinya cukup Sejuk, asri dan bersih, banyak...",lokasinya cukup sejuk asri dan bersih banyak p...

## Removal of Stopwords

In [12]:
from nltk.corpus import stopwords
", ".join(stopwords.words('indonesian'))

'ada, adalah, adanya, adapun, agak, agaknya, agar, akan, akankah, akhir, akhiri, akhirnya, aku, akulah, amat, amatlah, anda, andalah, antar, antara, antaranya, apa, apaan, apabila, apakah, apalagi, apatah, artinya, asal, asalkan, atas, atau, ataukah, ataupun, awal, awalnya, bagai, bagaikan, bagaimana, bagaimanakah, bagaimanapun, bagi, bagian, bahkan, bahwa, bahwasanya, baik, bakal, bakalan, balik, banyak, bapak, baru, bawah, beberapa, begini, beginian, beginikah, beginilah, begitu, begitukah, begitulah, begitupun, bekerja, belakang, belakangan, belum, belumlah, benar, benarkah, benarlah, berada, berakhir, berakhirlah, berakhirnya, berapa, berapakah, berapalah, berapapun, berarti, berawal, berbagai, berdatangan, beri, berikan, berikut, berikutnya, berjumlah, berkali-kali, berkata, berkehendak, berkeinginan, berkenaan, berlainan, berlalu, berlangsung, berlebihan, bermacam, bermacam-macam, bermaksud, bermula, bersama, bersama-sama, bersiap, bersiap-siap, bertanya, bertanya-tanya, berturut, berturut-turut, bertutur, berujar, berupa, besar, betul, betulkah, biasa, biasanya, bila, bilakah, bisa, bisakah, boleh, bolehkah, bolehlah, buat, bukan, bukankah, bukanlah, bukannya, bulan, bung, cara, caranya, cukup, cukupkah, cukuplah, cuma, dahulu, dalam, dan, dapat, dari, daripada, datang, dekat, demi, demikian, demikianlah, dengan, depan, di, dia, diakhiri, diakhirinya, dialah, diantara, diantaranya, diberi, diberikan, diberikannya, dibuat, dibuatnya, didapat, didatangkan, digunakan, diibaratkan, diibaratkannya, diingat, diingatkan, diinginkan, dijawab, dijelaskan, dijelaskannya, dikarenakan, dikatakan, dikatakannya, dikerjakan, diketahui, diketahuinya, dikira, dilakukan, dilalui, dilihat, dimaksud, dimaksudkan, dimaksudkannya, dimaksudnya, diminta, dimintai, dimisalkan, dimulai, dimulailah, dimulainya, dimungkinkan, dini, dipastikan, diperbuat, diperbuatnya, dipergunakan, diperkirakan, diperlihatkan, diperlukan, diperlukannya, dipersoalkan, dipertanyakan, dipunyai, diri, dirinya, disampaikan, disebut, disebutkan, disebutkannya, disini, disinilah, ditambahkan, ditandaskan, ditanya, ditanyai, ditanyakan, ditegaskan, ditujukan, ditunjuk, ditunjuki, ditunjukkan, ditunjukkannya, ditunjuknya, dituturkan, dituturkannya, diucapkan, diucapkannya, diungkapkan, dong, dua, dulu, empat, enggak, enggaknya, entah, entahlah, guna, gunakan, hal, hampir, hanya, hanyalah, hari, harus, haruslah, harusnya, hendak, hendaklah, hendaknya, hingga, ia, ialah, ibarat, ibaratkan, ibaratnya, ibu, ikut, ingat, ingat-ingat, ingin, inginkah, inginkan, ini, inikah, inilah, itu, itukah, itulah, jadi, jadilah, jadinya, jangan, jangankan, janganlah, jauh, jawab, jawaban, jawabnya, jelas, jelaskan, jelaslah, jelasnya, jika, jikalau, juga, jumlah, jumlahnya, justru, kala, kalau, kalaulah, kalaupun, kalian, kami, kamilah, kamu, kamulah, kan, kapan, kapankah, kapanpun, karena, karenanya, kasus, kata, katakan, katakanlah, katanya, ke, keadaan, kebetulan, kecil, kedua, keduanya, keinginan, kelamaan, kelihatan, kelihatannya, kelima, keluar, kembali, kemudian, kemungkinan, kemungkinannya, kenapa, kepada, kepadanya, kesampaian, keseluruhan, keseluruhannya, keterlaluan, ketika, khususnya, kini, kinilah, kira, kira-kira, kiranya, kita, kitalah, kok, kurang, lagi, lagian, lah, lain, lainnya, lalu, lama, lamanya, lanjut, lanjutnya, lebih, lewat, lima, luar, macam, maka, makanya, makin, malah, malahan, mampu, mampukah, mana, manakala, manalagi, masa, masalah, masalahnya, masih, masihkah, masing, masing-masing, mau, maupun, melainkan, melakukan, melalui, melihat, melihatnya, memang, memastikan, memberi, memberikan, membuat, memerlukan, memihak, meminta, memintakan, memisalkan, memperbuat, mempergunakan, memperkirakan, memperlihatkan, mempersiapkan, mempersoalkan, mempertanyakan, mempunyai, memulai, memungkinkan, menaiki, menambahkan, menandaskan, menanti, menanti-nanti, menantikan, menanya, menanyai, menanyakan, mendapat, mendapatkan, mendatang, mendatangi, mendatangkan, menegaskan, mengakhiri, mengapa, mengatakan, mengatakannya, mengenai, mengerjakan, mengetahui, menggunakan, menghendaki, mengibaratkan, mengibaratkannya, mengingat, mengingatkan, menginginkan, mengira, mengucapkan, mengucapkannya, mengungkapkan, menjadi, menjawab, menjelaskan, menuju, menunjuk, menunjuki, menunjukkan, menunjuknya, menurut, menuturkan, menyampaikan, menyangkut, menyatakan, menyebutkan, menyeluruh, menyiapkan, merasa, mereka, merekalah, merupakan, meski, meskipun, meyakini, meyakinkan, minta, mirip, misal, misalkan, misalnya, mula, mulai, mulailah, mulanya, mungkin, mungkinkah, nah, naik, namun, nanti, nantinya, nyaris, nyatanya, oleh, olehnya, pada, padahal, padanya, pak, paling, panjang, pantas, para, pasti, pastilah, penting, pentingnya, per, percuma, perlu, perlukah, perlunya, pernah, persoalan, pertama, pertama-tama, pertanyaan, pertanyakan, pihak, pihaknya, pukul, pula, pun, punya, rasa, rasanya, rata, rupanya, saat, saatnya, saja, sajalah, saling, sama, sama-sama, sambil, sampai, sampai-sampai, sampaikan, sana, sangat, sangatlah, satu, saya, sayalah, se, sebab, sebabnya, sebagai, sebagaimana, sebagainya, sebagian, sebaik, sebaik-baiknya, sebaiknya, sebaliknya, sebanyak, sebegini, sebegitu, sebelum, sebelumnya, sebenarnya, seberapa, sebesar, sebetulnya, sebisanya, sebuah, sebut, sebutlah, sebutnya, secara, secukupnya, sedang, sedangkan, sedemikian, sedikit, sedikitnya, seenaknya, segala, segalanya, segera, seharusnya, sehingga, seingat, sejak, sejauh, sejenak, sejumlah, sekadar, sekadarnya, sekali, sekali-kali, sekalian, sekaligus, sekalipun, sekarang, sekarang, sekecil, seketika, sekiranya, sekitar, sekitarnya, sekurang-kurangnya, sekurangnya, sela, selain, selaku, selalu, selama, selama-lamanya, selamanya, selanjutnya, seluruh, seluruhnya, semacam, semakin, semampu, semampunya, semasa, semasih, semata, semata-mata, semaunya, sementara, semisal, semisalnya, sempat, semua, semuanya, semula, sendiri, sendirian, sendirinya, seolah, seolah-olah, seorang, sepanjang, sepantasnya, sepantasnyalah, seperlunya, seperti, sepertinya, sepihak, sering, seringnya, serta, serupa, sesaat, sesama, sesampai, sesegera, sesekali, seseorang, sesuatu, sesuatunya, sesudah, sesudahnya, setelah, setempat, setengah, seterusnya, setiap, setiba, setibanya, setidak-tidaknya, setidaknya, setinggi, seusai, sewaktu, siap, siapa, siapakah, siapapun, sini, sinilah, soal, soalnya, suatu, sudah, sudahkah, sudahlah, supaya, tadi, tadinya, tahu, tahun, tak, tambah, tambahnya, tampak, tampaknya, tandas, tandasnya, tanpa, tanya, tanyakan, tanyanya, tapi, tegas, tegasnya, telah, tempat, tengah, tentang, tentu, tentulah, tentunya, tepat, terakhir, terasa, terbanyak, terdahulu, terdapat, terdiri, terhadap, terhadapnya, teringat, teringat-ingat, terjadi, terjadilah, terjadinya, terkira, terlalu, terlebih, terlihat, termasuk, ternyata, tersampaikan, tersebut, tersebutlah, tertentu, tertuju, terus, terutama, tetap, tetapi, tiap, tiba, tiba-tiba, tidak, tidakkah, tidaklah, tiga, tinggi, toh, tunjuk, turut, tutur, tuturnya, ucap, ucapnya, ujar, ujarnya, umum, umumnya, ungkap, ungkapnya, untuk, usah, usai, waduh, wah, wahai, waktu, waktunya, walau, walaupun, wong, yaitu, yakin, yakni, yang'

In [13]:
from nltk.corpus import stopwords

STOPWORDS = set(stopwords.words('indonesian'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in STOPWORDS])

In [14]:
df['temp_text'] = df['temp_text'].apply(lambda x: remove_stopwords(x))
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...

## !!!Removal of Frequent Words

In [15]:
# Menghapus semua kata "nya" yang berdiri sendiri dalam kolom temp_text
df['temp_text'] = df['temp_text'].apply(lambda text: ' '.join([word for word in text.split() if word != 'nya']))

df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...

In [16]:
from collections import Counter
word_count = Counter()
for text in df['temp_text']:
    for word in text.split():
        word_count[word] += 1
        
word_count.most_common(10)

[('kampus', 33),
 ('bagus', 11),
 ('gresik', 10),
 ('mahasiswa', 8),
 ('indonesia', 7),
 ('ac', 6),
 ('ga', 6),
 ('masuk', 5),
 ('kuliah', 5),
 ('semen', 5)]

In [17]:
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...

In [18]:
# FREQUENT_WORDS = set(word for (word, wc) in word_count.most_common(3))
# def remove_freq_words(text):
#     return " ".join([word for word in text.split() if word not in FREQUENT_WORDS])

In [19]:
# df['temp_text'] = df['temp_text'].apply(lambda x: remove_freq_words(x))
# df.head()

## Removal of Rare Words

In [20]:
# This cell should be moved after CELL INDEX 22
RARE_WORDS = set(word for (word, wc) in word_count.most_common()[:-10:-1])
print(RARE_WORDS)

{'private', 'dabest', 'stimsi', 'facilities', 'tekkim', 'reputable', 'people', 'homy', 'niceeee'}

In [21]:
def remove_rare_words(text):
    return " ".join([word for word in text.split() if word not in RARE_WORDS])

In [22]:
df['temp_text'] = df['temp_text'].apply(lambda x: remove_rare_words(x))
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...

## Removal of Special characters

In [23]:
import re
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z0-9]', ' ', text)
    text = re.sub('\s+', ' ', text)
    return text

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\hp\AppData\Local\Temp\ipykernel_6784\688201358.py:4: SyntaxWarning: invalid escape sequence '\s'
  text = re.sub('\s+', ' ', text)

In [24]:
df['temp_text'] = df['temp_text'].apply(lambda x: remove_spl_chars(x))
df.head()

,name,rating,snippet,temp_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...

## Stemming

In [25]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# Membuat stemmer bahasa Indonesia
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# Fungsi stemming
def stem_words(text):
    return stemmer.stem(text)

In [26]:
# Menerapkan stemming pada kolom temp_text
df['stemmed_text'] = df['temp_text'].apply(lambda x: stem_words(x))
df.head()

,name,rating,snippet,temp_text,stemmed_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...,rumah hantu lihat masuk sempurna tempat bagus ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...,unik kampus heritage datang area bekas pabrik ...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...,universitas bagus perhati kampus 2 jalan licin...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...,hatihati dosen gadungan nama oktavian zulfiky ...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...,3 bintang ya min min calon mahasiswamahasiswi ...

## Lemmatization & POS Tagging

In [27]:
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V": wordnet.VERB, "J": wordnet.ADJ, "R": wordnet.ADV}

def lemmatize_words(text):
    # find pos tags
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [28]:
from nltk.corpus import wordnet

wordnet.NOUN

'n'

In [29]:
# import nltk
# nltk.download('averaged_perceptron_tagger')

# df['lemmatized_text'] = df['temp_text'].apply(lambda x: lemmatize_words(x))
# df.head()

In [30]:
df.sample(frac=1).head(10)

,name,rating,snippet,temp_text,stemmed_text
72,Andi Zulfikar D,5.0,Crafting the Excellent,crafting the excellent,crafting the excellent
56,fatimatus zahra,5.0,mantap,mantap,mantap
71,Ahmad Asrofi,5.0,good,good,good
34,Fahmi Nandip,5.0,"Tempatnya adem, asri, sejuk.",tempatnya adem asri sejuk,tempat adem asri sejuk
19,Fadhilah Dwiestri Handayani,5.0,"Termasuk kampus terbaik di Gresik, dengan nuan...",kampus terbaik gresik nuansa industrial dapet ...,kampus baik gresik nuansa industrial dapet banget
31,LUKE Lifting,5.0,Universitas terbaik di kota gresik,universitas terbaik kota gresik,universitas baik kota gresik
27,Ida Silvia,5.0,Bangga jadi bagian kampus ini keep crafting ...,bangga kampus keep crafting the excellent,bangga kampus keep crafting the excellent
15,Vardian Bagus,5.0,Kampus UISI adalah Campus kebanggaan anak kami...,kampus uisi campus kebanggaan anak genersi mud...,kampus uis campus bangga anak genersi muda usa...
44,Carina Jihadda,5.0,Universitas yang sangat bagus,universitas bagus,universitas bagus
33,Copler Madura,5.0,sangat puas,puas,puas

## Tokenization

In [31]:
df.head()

,name,rating,snippet,temp_text,stemmed_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...,rumah hantu lihat masuk sempurna tempat bagus ...
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...,unik kampus heritage datang area bekas pabrik ...
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...,universitas bagus perhati kampus 2 jalan licin...
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...,hatihati dosen gadungan nama oktavian zulfiky ...
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...,3 bintang ya min min calon mahasiswamahasiswi ...

In [32]:
df.isnull().sum()

name            0
rating          0
snippet         0
temp_text       0
stemmed_text    0
dtype: int64

In [33]:
from nltk.tokenize import word_tokenize

# Tokenisasi
df['tokenized_text'] = df['stemmed_text'].apply(lambda x: word_tokenize(x))
df.head()

,name,rating,snippet,temp_text,stemmed_text,tokenized_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...,rumah hantu lihat masuk sempurna tempat bagus ...,"[rumah, hantu, lihat, masuk, sempurna, tempat,..."
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...,unik kampus heritage datang area bekas pabrik ...,"[unik, kampus, heritage, datang, area, bekas, ..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...,universitas bagus perhati kampus 2 jalan licin...,"[universitas, bagus, perhati, kampus, 2, jalan..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...,hatihati dosen gadungan nama oktavian zulfiky ...,"[hatihati, dosen, gadungan, nama, oktavian, zu..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...,3 bintang ya min min calon mahasiswamahasiswi ...,"[3, bintang, ya, min, min, calon, mahasiswamah..."

In [34]:
# Cleaned text
df['cleaned_text'] = df['tokenized_text']
df.head()

,name,rating,snippet,temp_text,stemmed_text,tokenized_text,cleaned_text
0,Firdaus Agil Prasetyo,5.0,Dari luar tampak seperti rumah hantu. Tapi lih...,rumah hantu lihatlah masuk sempurna tempatnya ...,rumah hantu lihat masuk sempurna tempat bagus ...,"[rumah, hantu, lihat, masuk, sempurna, tempat,...","[rumah, hantu, lihat, masuk, sempurna, tempat,..."
1,Miftah NG,5.0,"Unik. Kampus ""heritage"" pertama yang pernah sa...",unik kampus heritage datangi area bekas pabrik...,unik kampus heritage datang area bekas pabrik ...,"[unik, kampus, heritage, datang, area, bekas, ...","[unik, kampus, heritage, datang, area, bekas, ..."
2,Hafiz Nafi'uddin,3.0,"Universitasnya sangat bagus, tapi lebih diperh...",universitasnya bagus diperhatikan dikampus 2 j...,universitas bagus perhati kampus 2 jalan licin...,"[universitas, bagus, perhati, kampus, 2, jalan...","[universitas, bagus, perhati, kampus, 2, jalan..."
3,Chandra Bintang,1.0,"Hati-hati dengan dosen gadungan yang bernama ""...",hatihati dosen gadungan bernama oktavian zulfi...,hatihati dosen gadungan nama oktavian zulfiky ...,"[hatihati, dosen, gadungan, nama, oktavian, zu...","[hatihati, dosen, gadungan, nama, oktavian, zu..."
4,Wandy Bear,3.0,"Sementara 3 bintang dulu ya min.\nMin, calon m...",3 bintang ya min min calon mahasiswamahasiswi ...,3 bintang ya min min calon mahasiswamahasiswi ...,"[3, bintang, ya, min, min, calon, mahasiswamah...","[3, bintang, ya, min, min, calon, mahasiswamah..."

In [35]:
import os

try:
	# Save the dataframe to a CSV file
	df.to_csv(output_path, index=False)
	print(f"DataFrame successfully saved to {output_path}")
except Exception as e:
	print(f"An error occurred: {e}")

DataFrame successfully saved to ../../dataset/cleaned-data/UISI_Reviews_cleaned.csv